#card-section{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    /* height: 500px; */
    /* border: 2px solid; */
    padding: 60px 0px;
    background: linear-gradient(#c5eaf3,#ffffff);
    
}
#card-section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card-section-title h2{
    color: rgb(8, 25, 126) ;
}

#card-section-title p{
    display: flex;
    text-align: center;
    width: 700px;
    color: rgb(8, 25, 126) ;
}
#cards{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* margin-top: 50px ; */
    padding-top:50px ;
    width: 100%;
}

#search-cources{
    color: rgb(8, 25, 126) ;
    border-color:  rgb(8, 25, 126);
    
}
#search-cources:hover{
     transform: scale(1.1, 1.1);
    
}
   